.product-container {
    background-color: rgba(128, 128, 128, 0.046);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

@media only screen and (max-width:668px) {
    .product-container {

        grid-template-columns: 1fr;

    }

    .ware-button {
        padding-right: 30px;
        padding-left: 30px;
        Width: 100%;
        Height:
            48px;
        color: white;

    }


}